# Dependencies
node_modules/

# Build output
out/
dist/
*.tgz

# Coverage
coverage/
*.lcov

# Logs
logs/
*.log

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Caches
.eslintcache
.cache
.bun-cache/
.tmp/
*.tsbuildinfo

# IntelliJ / WebStorm
.idea/

# macOS
.DS_Store
